@media print {

  @page {
    size: letter landscape;
    margin: 0;
  }

  * {
    -webkit-print-color-adjust: exact;
  }

  .reveal, body, html {
    overflow: visible;
  }

  body {
    font-size: 14pt;
  }

  .reveal {
    overflow: visible;
    height: auto;
  }

  .absolute {
    position: relative;
  }

  .progress,
  .controls {
    display: none !important;
  }

  .slides {
    position: static;
    width: 100%;
    @include transform(none !important);
  }

  .screen-only {
    display: none;
  }

  .backgrounds {
    display: none;
  }

  #start {
    color: #000;
  }

  section {
    page-break-after: always;
    visibility: visible !important;
    position: relative;
    width: 100%;
    display: block !important;

    left: 0 !important;
    top: 0 !important;
    padding: 1cm;
    opacity: 1 !important;

    .fragment {
      opacity: 1 !important;
      visibility: visible !important;
    }

  }


}
